body {
    text-align: center;
    background-color: beige;
}
#cont {
    border: solid 1px black;
    border-radius: 14px;
    padding: 3px;
    background-color: rgb(202, 175, 175);
}
#cont div {
    font-size: 19px;
    background-color: aliceblue;
    border-radius: 14px;
    padding: 10px;
    margin: 5px;
    user-select: none;
}
button, input, .button {
    border: solid 1px black;
    padding: 6px;
    margin: 3px;
    border-radius: 7px;
}
input {
    width: 500px;
}
button, .button {
    display: inline-block;
    cursor: pointer;
}
textarea {
    width: 90%;
    height: 300px;
    border-radius: 15px;
    padding: 14px;
}
.cikk {
    display: inline-block;
    cursor: pointer;
}
div.cikk:hover {
    background-color: aqua;
}
button:hover, div.button:hover {
    background-color: rgb(215, 145, 145);
}